/* 
body{
  background-color: var(--bg-black-color);
} */
.App {
  text-align: center;
  background-color: var(--bg-black-color);
  color: var(--app-color);
  /* max-content */
  /* height: 100vh; */
  max-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.App .game-header {
  height: 65px;
}

.spellingBeeYellow {
  background-color: var(--spellingBeeYellow);
  color: black;
}
.spellingBeeYellow:focus {
  background-color: var(--spellingBeeYellow);
}
#statistics-modal .modal-title {
  letter-spacing: 0.05em;
  font-weight: bold;
}
#statistics-modal .stats-title {
  letter-spacing: 0.05em;
  font-weight: bold;
}
.statsData-box {
  display: flex;
  padding-top: 5px;
}
.stats-title {
  text-align: center;
}
.guess-val {
  margin-left: 5px;
  padding: 0 10px 0 10px;
  background-color: var(--color-tone-4);
}
.guess-value {
  width: 100%;
  text-align: right;
  background-color: var(--color-correct);
}
.guessdiv {
  width: 100%;
  padding: 10px;
}
